*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.counter-container{
  border: 2px solid black;
   max-width: 100%;
   overflow-x:hidden ;
   height: 100vh;

}
.counter-title{
  text-align: center;
  margin-top: 5%;
  font-size: 80px;
}


.counter-wrapper{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  width: 80%;
  height: 50%;
  background-color: rgb(92, 141, 117);
  
}
.btn-decrement-btn{
  position: relative;
  top: 30%;
  font-size: 100px;
  width: 100px;
  height: 20%;
  }
  .counter-value{
  position: relative;
  text-align: center;
  top: 30%;
  font-size: 100px;
  width: 100px;
  height: 20%;
  }
.btn-increment-btn{
     position: relative;
  top: 30%;
  font-size: 100px;
  width: 100px;
  height: 20%;
}