* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}
.new-product-control{
    text-align: center;
    background-color: bisque;
    color: black;

}
.{
    background-color: brown;
    color: blanchedalmond;
    
}